@import '../../styles/colors.scss';
.GameCarousel{
  margin-left: 20px;

  .GameImage{
    max-width: 100%;
    height: auto;
  }

  .GameCarouselLeft {
    img {  border-radius: 16px 0 0 16px; }
  }

  .GameCarouselRight {
    padding: 30px 20px;
    background: $independence;
    border-radius: 0 16px 16px 0;
  }

  .imageThumb{
    border-radius: 4px;
    cursor: pointer;
  }
}