@import '../../styles/colors.scss';
.GameCarousel{
  margin-left: 20px;
  min-height: 400px;

  .GameImage{
    max-width: 100%;
    height: auto;
  }

  .GameCarouselLeft {
    img {  
      border-radius: 16px 0 0 16px;
      min-height: 400px;
      object-fit: cover;
    }
  }

  .GameCarouselRight {
    padding: 30px 20px;
    background: $independence;
    border-radius: 0 16px 16px 0;
  }

  .imageThumb{
    border-radius: 4px;
    cursor: pointer;
  }

  .Action{
    position: absolute;
    bottom: 30px;
    right: 20px;
  }

  .Switch{
    position: absolute;
    top: 42px;
    left: -150px;
    background: #3d3f57;
    border-radius: 16px 0 0 16px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    button {
      height: 32px;
    }
  }
}