@import '../../styles/colors.scss';
.Advertisement {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

  img {
    max-width: 100%;
    height: 200px;
    border-radius: 16px;
    min-height: 400px;
    object-fit: cover;
    margin: 20px 0;
  }

  .AdvertisementCard {
    // min-height: 500px;
    background: $independence;
    border-radius: 16px;

    input {
      height: 40px;
    }
    > * {
      margin-bottom: 10px;
    }
  }

  .VoteCard {
    padding: 24px 24px;
    margin-bottom: 20px;
    background: $independence;
    border-radius: 16px;

    .voteButton {
      display: flex;
      justify-content: end;
      gap: 10px;
    }
  }
}

.advertisement-card-label {
  font-size: 18px;
}

.button-fancy {
  margin-top: 1.5em;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .button-fancy {
    margin: 0 0 0 0.5em;
  }

  a {
    text-decoration: none;
    margin-left: 1.5em;
  }

  .status {
    font-size: 18px;
    text-align: right;

    .button-fancy {
      margin: 0 0.5em 0 0;
    }

    span {
      margin-left: 0.4em;
    }

    .purchase-btn {
      margin-left: 1.2em;
      background: linear-gradient(to right, #17548d, #2a8deb);
      color: #fff;
    }
  }
}

.status--green {
  color: #00c44b;
}

.status--blue {
  color: #2485dd;
}

.status--red {
  color: #cc353c;
}

.address-info {
  margin-bottom: 4em !important;
  h2 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
  }

  h3 {
    font-weight: 400;
    color: #2b91f1;
  }

  .no-nft {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.5em;
  }
}

.no-ad-display {
  font-size: 25px;
  margin-top: 100px;
  text-align: center;
}
