$primary-color: #868CE5ff;
$primary-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;

$black: #232538ff;
$white: #FEFFFFff;
$light-gray: #d2d7df;


/* SCSS HEX */
$space-cadet: #232538ff;
$space-cadet-2: #313249ff;


$white: #FEFFFFff;
$sky-blue-crayola: #19D4F0ff;

$independence: #3D3F57ff;
$y-in-mn-blue: #435194ff;
$cornflower-blue: #868CE5ff;
$violet-blue: #48499Fff;

