@import '../../styles/colors.scss';

.Header {

  background-color: $space-cadet-2;
  color: $white !important;

  .ant-page-header {
    background-color: $space-cadet-2;
  }

  .ant-avatar.ant-avatar-circle.ant-avatar-image.xrpLogo {
    border: 1px solid $light-gray;
    margin: 0;
    margin: 0 5px;
    z-index: 2;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  }

  .ant-divider {
    margin: 0;
  }
}
