@import '../../styles/colors.scss';
.Footer {
  background: $space-cadet-2;
  position: static;
  height: 80px;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}